body, article, h1, h2, form, ul, li { margin:0; padding:0; }
ul, li { list-style-type:none; }
body { font-family:sans-serif; padding:0; margin:0; background-color:#FFF; }
h1, article h2 { cursor:pointer; }

h1 { font-size:1.4em; padding:.45em; text-align:center; color:#FFF; text-shadow:2px 2px 2px rgba(0,0,0,.5);
	background:#70AD4C;
	background:-moz-linear-gradient(top,  #70AD4C 2%, #607D27 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(2%,#70AD4C), color-stop(100%,#607D27));
	background:-webkit-linear-gradient(top,  #70AD4C 2%,#607D27 100%);
	background:-o-linear-gradient(top,  #70AD4C 2%,#607D27 100%);
	background:-ms-linear-gradient(top,  #70AD4C 2%,#607D27 100%);
	background:linear-gradient(top,  #70AD4C 2%,#607D27 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#70AD4C', endColorstr='#607D27',GradientType=0 );
}

article { border-bottom:1px solid #CCC; border-top:1px solid #FFF; font-size:1em; }
	article h2 { padding:.8em .7em; font-size:1.1em; background-color:#EAEDF4; transition:background-color .4s; -moz-transition:background-color .4s; -webkit-transition:background-color .4s; -o-transition:background-color .4s; }
		article h2 img { display:block; float:right; margin-left:.8em; cursor:pointer; }
		article.sel h2 { background-color:#E01B6A; color:#FFF; text-shadow:2px 2px 2px rgba(0,0,0,.5); }
	article p { max-height:0; overflow:hidden; padding:0 .1em 0 .7em; margin:0; transition:all .5s; -moz-transition:all .5s; -webkit-transition:all .5s; -o-transition:all .5s;}
		article.sel p { max-height:15em; padding:.7em .1em .7em .7em; }
	article p .actions { float: right; width:30px; margin-left:.6em;}
		article p .actions img { display:block; width:20px; height:20px; cursor:pointer; margin:.6em 0; }
	article p .time { display:block; font-size:.8em; color:#968F92; margin-top: .6em; }
	article p .map { display: block; font-size:.8em; color:#1B7AE0; font-style:italic; margin-top:.4em; text-decoration:none;}
		article p .map:hover { text-decoration:underline; }

#onlineStatus { display: block; cursor:pointer; position:absolute; top: .70em; left:.5em; display:none; }	
#newEntry { display: block; cursor:pointer; position:absolute; top: .70em; right:.5em }
#newEntry { display: block; cursor:pointer; position:absolute; top: .50em; right:.6em }

#storeEntry { display:none; width:96%; padding: 2%; }
#storeEntry label { display: block; width:100%; margin:.7em 0 .1em 0; font-weight:bold; }
#storeEntry input[type=text], #storeEntry textarea { width:100%; border:1px solid #CCC; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
#storeEntry .error { border: 1px solid #C00!important; }
#storeEntry #btnCancel, #storeEntry #btnSubmit { font-size:1.1em; }

#noEntries { text-align:center; font-size:1.2em; }

#location { font-size:.8em; margin-top: 1em; color: #968F92; font-style:italic; }
#location a { color: #968F92; }